<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/demo.css" />
    <link rel="stylesheet" href="../static/css/modal.css" />
    <title>제보하기</title>
  </head>
  <body>
    <!-- 지도 모달 -->
    <div id="locationContainer" class="hidden">
      <div id="locationContent" class="modal-content">
        <div id="gpsLocation">
          <span>현재 위치로 설정</span>
        </div>
        <div id="mapLocation">
          <span>지도를 통해 설정</span>
        </div>
      </div>
    </div>
    <!-- { 헤더 재난 정보 백에서 받아와야 함 } -->
    <header>
      <span>서울특별시 전역 폭염주의보 발령</span>
    </header>
    <div id="wrapper">
      <nav id="left-nav">
        <div id="logo">
          <div><a href="/">COMMA</a></div>
        </div>
        <div id="info">
          <div><a href="/dense_popul_info">혼잡정보</a></div>
          <div><a href="/transfer_info">교통정보</a></div>
          <div><a href="/get_demo_today">시위정보</a></div>
          <div><a href="/safety_info">안전정보</a></div>
        </div>
        <div id="contact">
          <div><a>커스터마이징</a></div>
          <div><a>제보하기</a></div>
        </div>
      </nav>

      {% if demo %}
        {% comment %} <span class="demo-action">오늘의 시위 정보</span> {% endcomment %}
        <div id="demo-data">
        <table border="1">
          <caption class="demo-action">오늘의 시위 정보</caption>
          <thead>
              <tr>
                  <th>집회 일시</th>
                  <th>집회 장소(행진로)</th>
                  <th>신고 인원(명)</th>
              </tr>
          </thead>
          <tbody>
              {% for item in demo %}
              <tr>
                  <td>{{ item.time }}</td>
                  <td>{{ item.location }}</td>
                  <td>{{ item.amount }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        </div>
      {% else %}
        <span class="demo-action">오늘의 시위 정보</span>
      {% endif %}

      <nav id="right-nav">
        <div id="user">
          {% if request.session.ID %}
          <div id="greeting">
            <a href="#">{{ request.session.ID }}님 환영합니다!</a>
          </div>
          <div id="mypage" class="signup-mypage">
            <a href="./my_page/{{ request.session.ID }}">마이페이지</a>
          </div>
          <div id="logout" class="login-logout">
            <a href="./logout">로그아웃</a>
          </div>
          {% else %}
          <div id="sign-up" class="signup-mypage">
            <a>회원가입</a>
          </div>
          <div id="login" class="login-logout">
            <a>로그인</a>
          </div>
          {% endif %}
        </div>
        <div id="location">
          <div><a>지역설정하기</a></div>
        </div>
      </nav>
    </div>
    <footer>
      <p>dev by team COMMA</p>
      <button id="start">음성인식</button>
      <button id="end">인식종료</button>
    </footer>
    <script src="../static/js/speech.js"></script>
    <script src="../static/js/location.js"></script>
    <script src="../static/js/mypage.js"></script>
    <script src="../static/js/demo.js"></script>
  </body>
</html>
