<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/modal.css" />
    <title>마이페이지</title>
  </head>
  <body>
    <!-- 지도 모달 -->
    <div id="locationContainer" class="hidden">
      <div id="locationContent" class="modal-content">
        <div id="gpsLocation">
          <span>현재 위치로 설정</span>
        </div>
        <div id="mapLocation">
          <span>지도를 통해 설정</span>
        </div>
      </div>
    </div>
    <!-- { 헤더 재난 정보 백에서 받아와야 함 } -->
    <header>
      <span>서울특별시 전역 폭염주의보 발령</span>
    </header>
    <div id="wrapper">
      <nav id="left-nav">
        <div id="logo">
          <div><a href="/">COMMA</a></div>
        </div>
        <div id="info">
          <div><a href="/dense_popul_info">혼잡정보</a></div>
          <div><a href="/transfer_info">교통정보</a></div>
          <div><a href="/get_demo_today">시위정보</a></div>
          <div><a href="/safety_info">안전정보</a></div>
        </div>
      </nav>

      <div class="content-wrapper">
        <form id="profile" action="/my_page/" method="post">
          {% csrf_token %}
          <input
            type="text"
            name="user-name"
            id="user-name"
            value="{{ info.name }}"
            disabled
          />
          <input
            type="text"
            name="user-id"
            id="user-id"
            value="{{info.ID}}"
            disabled
          />
          <input
            type="text"
            name="user-gender"
            id="user-gender"
            value="{% if info.gender == 'male' %}남성{% else %}여성{% endif %}"
            disabled
          /><input
            type="text"
            name="user-birth"
            id="user-birth"
            value="{{info.date}}"
            disabled
          />
          <input
            type="text"
            name="user-custom"
            id="user-custom"
            value="{% if info.custom == ''%}관심 정보(커스터마이징) 미설정{% else %}{{info.custom}}{% endif %}"
            disabled
          />
          <select name="user-handicap" id="user-handicap" required>
            <option value="impaired-init">* 장애여부</option>
            <option value="panic">공황장애</option>
            <option value="visually">시각장애</option>
            <option value="behavior">거동장애</option>
            <option value="normal">없음</option>
          </select>
          <input
            type="password"
            name="{{info.PW}}"
            id="previous-pw"
            placeholder="기존 비밀번호"
            required
          />
          <input
            type="password"
            name="next-pw"
            id="next-pw"
            placeholder="새 비밀번호"
          />
          <input
            type="password"
            name="next-pw-check"
            id="next-pw-check"
            placeholder="새 비밀번호 확인"
          />
          <span id="button-box">
            <input id="profile-cancel" type="submit" value="이전" />
            <input id="profile-complete" type="submit" value="수정" />
          </span>
        </form>
      </div>
      <nav id="right-nav">
        <div id="user">
          {% if request.session.ID %}
          <div id="greeting">
            <a href="#">Hello {{ request.session.ID }}!</a>
          </div>
          <div id="my_page" class="signup-mypage">
            <a href="/my_page/{{ request.session.ID }}">마이페이지</a>
          </div>
          <div id="logout" class="login-logout">
            <a href="/logout">로그아웃</a>
          </div>
          {% else %}
          <div id="sign-up" class="signup-mypage">
            <a>회원가입</a>
          </div>
          <div id="login" class="login-logout">
            <a>로그인</a>
          </div>
          {% endif %}
        </div>
      </nav>
    </div>
    <footer>
      <p>dev by team COMMA</p>
      <button id="start">음성인식</button>
      <button id="end">인식종료</button>
    </footer>
    <script src="../static/js/speech.js"></script>
    <script src="../static/js/my_page.js"></script>
  </body>
</html>
