<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/report.css" />
    <link rel="stylesheet" href="../static/css/my_page.css" />
    <link rel="stylesheet" href="../static/css/modal.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/transfer.css" />
    <title>교통정보 상세페이지</title>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6ee412d78406a7c87395be1b401473b1&libraries=services"
    ></script>
  </head>
  <body>
    <!-- 지도 모달 -->
    <div id="locationContainer" class="hidden">
      <div id="locationContent" class="modal-content">
        <div id="gpsLocation">
          <span>현재 위치로 설정</span>
        </div>
        <div id="mapLocation">
          <span>지도를 통해 설정</span>
        </div>
      </div>
    </div>

    <div id="report-container" class="hidden modal-container">
      <div id="report-content" class="modal-content">
        <form action="/report" method="post" id="report-form">
          {% csrf_token %}
          <select name="report-case" id="report-case" required>
            <option value="impaired-init">* 사건분류</option>
            <option value="panic">범죄</option>
            <option value="visually">재난</option>
          </select>
          <input
            type="text"
            id="report-name"
            name="report_name"
            placeholder="* 제보명"
            required
          />
          <input
            type="time"
            id="report-time"
            max="00:00"
            min="23:59"
            name="time"
            required
          />
          <div class="submit-box">
            <input type="submit" value="이전" />
            <input id="report-check" type="submit" value="제보하기" />
          </div>
        </form>
      </div>
    </div>

    <header class="{% if not spw%}no-data{% endif %}">
      {% if spw %}
      <span class="spw-action">현재 특보 정보</span>
      <div id="spw-data">
        {% for item in spw %}
        <span>{{ item.REG_NM }} {{ item.WRN }} {{item.LVL}}</span>
        {% endfor %}
      </div>
      {% else %} 발생한 특보가 없습니다. {% endif %}
    </header>
    <div id="wrapper">
      <nav id="left-nav">
        <div id="logo">
          <div><a href="/">COMMA</a></div>
        </div>
        <div id="info">
          {% comment %}
          <div><a href="dense_popul_info">혼잡정보</a></div>
          {% endcomment %}
          <div><a href="/transfer_info">교통정보</a></div>
          <div><a href="/get_demo_today">시위정보</a></div>
          <div><a href="/safety_info">안전정보</a></div>
        </div>
        <div id="contact">
          <div id="report-btn"><a>제보하기</a></div>
        </div>
      </nav>

      <div id="transfer-wrapper" class="content-wrapper">
        <div id="display-bus-map" class="hidden"></div>
        <div id="search-bus-box" class="search-container">
          <input
            type="text"
            id="bus-input"
            class="search-input"
            placeholder="버스 노선을 검색해주세요."
          />
          <button class="search-button" id="search-bus-btn">검색</button>
        </div>
      </div>
      <nav id="right-nav">
        <div id="user">
          {% if request.session.ID %}
          <div id="greeting">
            <a href="#">Hello {{ request.session.ID }}!</a>
          </div>
          <div id="my_page" class="signup-mypage">
            <a href="/my_page/{{ request.session.ID }}">마이페이지</a>
          </div>
          <div id="logout" class="login-logout">
            <a href="/logout">로그아웃</a>
          </div>
          {% else %}
          <div id="sign-up" class="signup-mypage">
            <a>회원가입</a>
          </div>
          <div id="login" class="login-logout">
            <a>로그인</a>
          </div>
          {% endif %}
        </div>
      </nav>
    </div>
    <footer>
      <p>dev by team COMMA</p>
      {% comment %} <button id="start">음성인식</button> {% endcomment %}
      {% comment %} <button id="end">인식종료</button> {% endcomment %}
    </footer>
    <script src="../static/js/speech.js"></script>
    <script src="../static/js/report.js"></script>
    <script src="../static/js/transfer.js"></script>
  </body>
</html>
