@import url(reset.css);

.custom-info {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 0.5rem;
  padding: 0.2rem;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  cursor: pointer;
  font-weight: bolder;
}
