@import url(reset.css);

#profile {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3%;
  padding: 2%;
}

#profile input,
#profile select {
  padding-top: 2%;
  padding-bottom: 2%;
}
