@import url(reset.css);

#report-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* 세로 정렬을 위해 100% 높이 설정 */
}

#report-form input[type="text"],
#report-form input[type="time"],
#report-form select {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
