@import url(reset.css);

.ifw {
  height: auto;
  width: auto;
  padding: 5px;
  margin-top: -15px;
  z-index: 1000;
}

.area {
  position: absolute;
  background: #fff;
  border: 1px solid #888;
  border-radius: 3px;
  font-size: 12px;
  top: -5px;
  left: 15px;
  padding: 2px;
}

#map {
  margin-top: 5%;
  width: 60vw;
  height: 60vh;
}

#map div {
  all: initial; /* 모든 스타일 속성 초기화 */
  font-size: 12px;
}

.info {
  font-size: 12px;
  padding: 5px;
}

.info .title {
  font-weight: bold;
}

#btns {
  padding: auto;
  margin: auto;
  align-items: auto;
}

#iw_con_info {
  width:auto; height:auto; margin-top: -13px; padding: auto; border: auto;
}